# LAYER_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
LCONF_VERSION = "5"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##COREBASE##/meta \
  ##COREBASE##/../meta-ettus \
  ##COREBASE##/../meta-xilinx \
  ##COREBASE##/../meta-oe/meta-oe \
  ##COREBASE##/../meta-oe/meta-networking \
  ##COREBASE##/../meta-oe/meta-filesystems \
  ##COREBASE##/../meta-oe/meta-python \
  ##COREBASE##/../meta-qt4 \
  ##COREBASE##/../meta-sdr \
  ##COREBASE##/../meta-fsl-arm \
  ##COREBASE##/../meta-fsl-arm-extra \
  ##COREBASE##/../meta-ti \
  "

